* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffff6d;
  color: #212121;
  line-height: 1.5;

  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.search-form {
  position: fixed;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  width: 100%;
  height: 45px;
  margin-bottom: 10px;

  background-color: rgb(73, 87, 247);
}

.input-text {
  max-width: 250px;

  font-size: 20px;

  border-radius: 5px;
}

.button {
  font-size: 20px;
  border-radius: 5px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #ffff6d;
}

.load-more {
  width: 200px;

  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 20px;

  border: 2px solid black;
  border-radius: 5px;
  background-color: #f38338;

  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;

  max-width: 1440px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 50px;
}

.gallery-link {
  min-width: 320px;
  flex-basis: calc((100% - 3 * 15px) / 4);

  border: 2px solid #000000;
  border-radius: 10px;
  overflow: hidden;

  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover,
.gallery-link:focus {
  scale: 1.03;
}

.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gallery-img {
  display: block;
  height: 30vh;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;

  padding: 10px;

  color: #ffff6d;
  background-color: rgb(73, 87, 247);
}

.info-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.load-more-container {
  display: flex;
  justify-content: center;
}
